body {
    background-color:black; 
    color:blanchedalmond; 
}

h1 {
    text-align: center; 
    color:blanchedalmond;
    padding: 100px 0px 0px 0px;
}
#hero {
    background-image: url("https://www.inthismomentofficial.com/sites/g/files/g2000004571/f/201707/headernew.jpg");
    width: 100%;
    height: 400px;
}
h2 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}
p {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}
a {
    color: white;
}
section {
    margin: 20px 100px;
}
ul {
    text-align: center;
    list-style-type: none;
}